<div class="tasks-panel">
  <div class="title">
    <h3>Tasks List</h3>
    <button mat-button mat-raised-button (click)="createNew()" color="primary">New</button>
  </div>

  <mat-tab-group>
    <mat-tab label="All tasks">
      <app-task-list [tasks]="tasksList$ | async"></app-task-list>
    </mat-tab>

    <mat-tab label="Done tasks">
      <app-task-list [tasks]="doneTasksList$ | async"></app-task-list>
    </mat-tab>

    <mat-tab label="In progress tasks">
      <app-task-list [tasks]="inProgressTasksList$ | async"></app-task-list>
    </mat-tab>
  </mat-tab-group>
</div>
